<% if @tenant.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @tenant.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

    <div>
        <%= form_for(@tenant) do |f| %>
         <h6> * Field must be filled out. </h6><br>

        <h4> Property Info: </h4>
        <strong><font color="#990012">*</font> <%= f.label :renter %></strong>
        <%= f.text_field :renter, class:"form-control" %><br>

        <strong><%= f.label :co_renter %></strong>
        <%= f.text_field :co_renter, class:"form-control" %><br>

        <strong><font color="#990012">*</font> <%= f.label :address %></strong>
        <%= f.text_field :address, class:"form-control" %><br>

        <strong><font color="#990012">*</font> <%= f.label :renter_email %></strong>
        <%= f.text_field :renter_email, class:"form-control" %><br>

        <strong><%= f.label :co_renter_email %></strong>
        <%= f.text_field :co_renter_email, class:"form-control" %><br>

        <strong><font color="#990012">*</font> <%= f.label :renter_cell_phone %></strong>
        <%= f.text_field :renter_cell_phone, class:"form-control" %><br>

        <strong><%= f.label :co_renter_cell_phone %></strong>
        <%= f.text_field :co_renter_cell_phone, class:"form-control" %><br>

        <%= f.hidden_field :user_id, :value => @user.id %>

        <%= f.submit submit_text %>
        <% end %>
    </div>
