<div class="grid-container">
    <div class="grid-item">
        <h3> Tenant Profile for: <%= @tenant.renter %> </h3>
         <% @tenant.rental_properties.each do |rental| %> 
            <strong> Renting Property: </strong><%=rental.property_name %><br>
            <strong> Property Address: </strong><%= rental.address %><br><br>
         <% end %>
        
        
        <h3> Renter Info: </h3>
        <strong> Tenant Name: <%= @tenant.renter %> </strong><br>
        <strong>Cell Phone:</strong> <%= @tenant.renter_cell_phone %><br>
        <strong>Email:</strong> <%= @tenant.renter_email %><br>
        <strong>Previous Address: </strong> <%= @tenant.address %> <br><br><br>

        <h4> Co Renter Info: </h4>
         <strong>Name:</strong> <%= @tenant.co_renter %><br>
        <strong>Cell Phone:</strong> <%= @tenant.co_renter_cell_phone %><br>
        <strong>Email:</strong> <%= @tenant.co_renter_email %><br><br>
    </div>

 <div class="btn-group" role="group" aria-label="Basic example">
    <%= button_to "My Tenants", tenants_path, :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
    <%= button_to "Add Tenant", new_tenant_path, :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
    <%= button_to "Edit ", edit_tenant_path(@tenant), :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
    <%= button_to "Delete ", tenant_path(@tenant), :method=> "delete", class: "btn btn-secondary btn-sm" %>
  </div>