<div class="grid-container">
    <div class="grid-item">
        <h3> Tenant Profile for: <%= @tenant.renter %> </h3><br><br>
        <h5> Renting Property: <%=@tenant.rental_properties%>
        
        <h3> Renter Info: </h3>
        <strong> Tenant Name: <%= @tenant.renter %> </strong><br>
        <strong>Cell Phone:</strong> <%= @tenant.renter_cell_phone %><br>
        <strong>Email:</strong> <%= @tenant.renter_email %><br>
        <strong>Previous Address: </strong> <%= @tenant.address %> <br><br><br>

        <h4> Co Renter Info: </h4>
         <strong>Name:</strong> <%= @tenant.co_renter %><br>
        <strong>Cell Phone:</strong> <%= @tenant.co_renter_cell_phone %><br>
        <strong>Email:</strong> <%= @tenant.co_renter_email %><br><br>
    </div>

<p> ADD EDIT AND DELETE BUTTONS FOR USER ONLY </p>