<center><h1> Sign In </h1>
     
<h6> Need an account?   <%= link_to "Sign Up", new_user_path%></h6><br><br> 
      <h6> Continue with Facebook or Gmail</h6><br>
    <%= form_for(:session, url: sessions_path(@user)) do |f| %>

        <div class="form_fields">
            <%= f.label :email %>
            <%= f.email_field :email %> 
        </div>

        <div class="form_fields">
            <%= f.label :password %>
            <%= f.password_field :password %><br>
        </div>


        <%= f.submit "Login" %>

    <% end %></center>
    <br><br>
 
    