<div class="form_fields">
<center><h1> Join Rental Property Tracker </h1>
<h6> Have an account?   <%= link_to "Sign In", new_session_path%></h6><br><br> 
      <h6> Continue with Facebook or Gmail</h6><br>
        <%= form_for :user, url: '/users' do |f| %>
            
            <%= f.label :name %>
            <%= f.text_field :name %><br><br>
            
            <%= f.label :email %>
            <%= f.email_field :email %> <br><br>
            
            <%= f.label :password %>
            <%= f.password_field :password %><br><br>
        
            <%= f.label :password_confirmation %> 
            <%= f.password_field :password_confirmation %><br><br>
            
            <%= f.submit "Create Account" %>

        <% end %></center>
</div>


      

   