
<h1>Welcome... <%= @user.name%>  </h1><br>

<div class="container">
  <div class="card-deck mb-1 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-1 font-weight-normal">Rental Properties</h4>
      </div>
      
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li> <%= link_to "My Properties", user_rental_properties_path(@user) %> </li>
          <li> <%= link_to "Add a Property", new_user_rental_property_path(@user) %> </li><br><br>
          <li> <%= link_to "Available Properties", available_properties_path(@user) %></li>
          <li> <%= link_to "Affordable Available Properties", affordable_available_properties_path(@user) %></li>
        </ul>
       
      </div>
    </div>
    
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-1 font-weight-normal">Repairs</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
         <li> <%= link_to "All Repairs", repairs_path %> </li>
         <li> <%= link_to "Add a Repair", new_repair_path %> </li><br><br>
         <li> <%= link_to "Open Repair Tickets", open_ticket_repairs_path %> </li>
        </ul>
      </div>
    </div>
    
     
</div>
  </div>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-1 font-weight-normal">Supplies</h4>
      </div>
      
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li> <%= link_to "All Supplies", supplies_path %> </li>
          <li> <%= link_to "Add a Supply", new_supply_path %> </li>
        </ul>
       
      </div>
    </div>
    
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-1 font-weight-normal">Tenants</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
         <li> <%= link_to "All Tenants", user_tenants_path(@user) %> </li>
          <li> <%= link_to "Add a Tenant", new_user_tenant_path(@user) %> </li>
        </ul>
      </div>
    </div>
    
     
</div>
  </div>