<% if @supply.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% @supply.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
        <%= form_for(@supply) do |f| %>
        <h6> * Field must be filled out. </h6><br>

        <h4> Add Supply: </h4>
         
        <strong><font color="#990012">*</font> <%= f.label :supply_name %></strong>
        <%= f.text_field :supply_name, class:"form-control" %><br>

       <%= f.hidden_field :user_id, :value => @user.id %>
       
        <%= f.submit submit_text %>
        <% end %>
    </div>
