<% if @rental_property.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% @rental_property.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div>
        <%= form_for(@rental_property) do |f| %>
        <h6> * Field must be filled out. </h6><br>

        <h4> Property Info: </h4>
         
        <strong><font color="#990012">*</font> <%= f.label :property_name %></strong>
        <%= f.text_field :property_name, class:"form-control" %><br>

         <strong><%= f.label :image_url %></strong>
        <%= f.text_field :image_url, class:"form-control" %><br>

        <strong><%= f.label :property_description %></strong>
        <%= f.text_area :property_description, class:"form-control" %><br>

        <strong><font color="#990012">*</font> <%= f.label :address %></strong>
        <%= f.text_field :address, class:"form-control" %><br>

        <strong><font color="#990012">*</font> <%= f.label :square_feet %></strong>
        <%= f.text_field :square_feet, class:"form-control" %><br>

        <h4> Tenant Info: </h4>
        <strong> <font color="#990012">*</font>  <%= f.label :tenant %> </strong>
        <%= f.collection_select :tenant_id, current_user.tenants, 
        :id, :renter, include_blank: "Not Leased" %> <br><br>

         <strong><font color="#990012">*</font> <%= f.label :monthly_rental_amount %>*</strong>
        <%= f.text_field :monthly_rental_amount, class:"form-control" %><br>

        <strong><font color="#990012">*</font> <%= f.label :deposit_amount %></strong>
        <%= f.text_field :deposit_amount, class:"form-control" %><br>

        <strong><%= f.label :contract_start_date %></strong>
        <%= f.text_field :contract_start_date, class:"form-control" %><br>

        <strong><%= f.label :contract_end_date %></strong>
        <%= f.text_field :contract_end_date, class:"form-control" %><br>
               
        <strong><%= f.label :leased %></strong>
        <%= f.check_box :leased, class:"form-control" %><br>

        <%= f.hidden_field :user_id, :value => @user.id %>

       
        <%= f.submit submit_text %>
        
        <% end %>
    </div>
