<% if @rental_property.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% @rental_property.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div>
        <%= form_for(@rental_property) do |f| %>
        <h6> * Field must be filled out. </h6><br>

        <h4> Property Info: </h4>
         
        <strong><font color="#990012">*</font> <%= f.label :property_name %></strong>
        <%= f.text_field :property_name, class:"form-control" %><br>

         <strong><%= f.label :image_url %></strong>
        <%= f.text_field :image_url, class:"form-control" %><br>

        <strong><%= f.label :property_description %></strong>
        <%= f.text_area :property_description, class:"form-control" %><br>

        <strong><font color="#990012">*</font> <%= f.label :address %></strong>
        <%= f.text_field :address, class:"form-control" %><br>

        <strong><font color="#990012">*</font> <%= f.label :square_feet %></strong>
        <%= f.text_field :square_feet, class:"form-control" %><br>

        <strong><font color="#990012">*</font> <%= f.label :monthly_rental_amount %>*</strong>
        <%= f.text_field :monthly_rental_amount, class:"form-control" %><br>

        <strong><font color="#990012">*</font> <%= f.label :deposit_amount %></strong>
        <%= f.text_field :deposit_amount, class:"form-control" %><br>

        <strong><%= f.label :contract_start_date %></strong>
        <%= f.text_field :contract_start_date, class:"form-control" %><br>

        <strong><%= f.label :contract_end_date %></strong>
        <%= f.text_field :contract_end_date, class:"form-control" %><br>
               
        <strong><%= f.label :leased %></strong>
        <%= f.check_box :leased, class:"form-control" %><br>

        <%= f.hidden_field :user_id, :value => @user.id %>

        <h4> Tenant Info: </h4>
        <h6>Select Tenant</h6>
        <strong> <font color="#990012">*</font>  <%= f.label :tenant_id %> </strong>
        <%= f.collection_select :tenant_id, current_user.tenants.uniq, 
        :id, :renter, include_blank: "Not Leased" %> <br>
        
        <h6>or</h6> <br>
        
        <h6>Add a Tenant</h6>
          
         <%= f.fields_for :tenant, @new_tenant do |tenant_attributes|%>
       
        <strong><font color="#990012">*</font> <%= f.label :renter %></strong>
        <%= tenant_attributes.text_field :renter %><br>

        <strong><%= f.label :co_renter %></strong>
        <%= tenant_attributes.text_field :co_renter %><br>

        <strong><font color="#990012">*</font> <%= f.label :address %></strong>
        <%= tenant_attributes.text_field :address %><br>

        <strong><font color="#990012">*</font> <%= f.label :renter_email %></strong>
        <%= tenant_attributes.text_field :renter_email %><br>

        <strong><%= f.label :co_renter_email %></strong>
        <%= tenant_attributes.text_field :co_renter_email %><br>

        <strong><font color="#990012">*</font> <%= f.label :renter_cell_phone %></strong>
        <%= tenant_attributes.text_field :renter_cell_phone %><br>

        <strong><%= f.label :co_renter_cell_phone %></strong>
        <%= tenant_attributes.text_field :co_renter_cell_phone %><br>
        <% end %><br>
       
        <%= f.submit submit_text %>
        <% end %>
       
        
       
    </div>
