<h2>My Properties</h2>
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= button_to "Add a Property", new_user_rental_property_path(current_user), :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
  </div><br><br>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Property Name</th>
              <th>Address</th>
              <th>Leased</th>
              <th>Current Tenant</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <%@rental_properties.each do |property|%>
              <td><%= property.id %></td>
              <td><%= link_to property.property_name, rental_property_path(property)%></td>
              <td><%= property.address %></td>
              <td><%= property.leased %> </td>
              <td><% if property.tenant.present? %><%= property.tenant.renter%><%end%></td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>



