<div class="container">
  <div class="card-deck mb-1 text-left">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-1 font-weight-normal">Property: <%= @rental_property.property_name %> </h4>
      </div>
     
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
            <li><strong>Description:</strong> <%= @rental_property.property_description %></li><br>
            <li><strong>Address:</strong> <%= @rental_property.address %></li><br>
            <li><strong>Square Feet:</strong> <%= @rental_property.square_feet %></li><br>
            <li><strong>Monthly Rental Amount:</strong> $<%= @rental_property.monthly_rental_amount %></li><br> 

            <li><strong>Deposit Amount:</strong> $<%= @rental_property.deposit_amount %></li><br>
            <li><strong>Contract Start Date:</strong> <%= @rental_property.contract_start_date %></li><br> 
            <li><strong>Contract End Date:</strong> <%= @rental_property.contract_end_date %></li><br>
            <li><strong>Leased:</strong> <%= @rental_property.leased %></li><br>
         
        </ul>
      </div>
    </div>
    
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-1 font-weight-normal">Current Tenant</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
            <li><strong>Leased to:</strong> <%=link_to @rental_property.tenant.renter,  tenant_path(@tenant) %></li><br>
            <li><strong>Last Rent Payment:</strong> $<%=link_to @rental_property.payment.amount_paid,  payment_path(@payment)%></li><br>
            <li><strong>Co Renter:</strong> <%= @tenant.co_renter %><br><br>
            <li><strong>Current Address: </strong> <%= @tenant.address %> <br>
            <li><strong>Previous Address:</strong> <%= @rental_property.tenant.address %><br><br>

            <li><strong>Renter Email:</strong> <%= @tenant.renter_email %><br>
            <li><strong>Co Renter Email:</strong> <%= @tenant.co_renter_email %><br><br>

            <li><strong>Renter Cell Phone:</strong> <%= @tenant.renter_cell_phone %><br><br>
            <li><strong>Co Renter Cell Phone:</strong> $<%= @tenant.co_renter_cell_phone %><br><br>
        </ul>
      </div>
    </div>


