<div class="btn-group" role="group" aria-label="Basic example">
  
  <%= button_to "Current Tenant", rental_property_tenant_path(@rental_property.tenant), :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
  <%= button_to "New Tenant", new_rental_property_tenant_path(@rental_property.tenant), :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
  <%= button_to "New Repair", new_rental_property_repair_path(@rental_property.repairs), :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
  
  <%= button_to "Repairs", property_repairs_path(@rental_property), :method=> "get", class: "btn btn-secondary btn-sm" %>
  
</div>

<br><br>
    
<div class="container">
  <div class="card-deck mb-1 text-left">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-1 font-weight-normal">Property: <%= @rental_property.property_name %> </h4>
      </div>
     
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
            <li><strong>Description:</strong> <%= @rental_property.property_description %></li><br>
            <li><strong>Address:</strong> <%= @rental_property.address %></li><br>
            <li><strong>Square Feet:</strong> <%= @rental_property.square_feet %></li><br>
            <li><strong>Monthly Rental Amount:</strong> $<%= @rental_property.monthly_rental_amount %></li><br> 

            <li><strong>Deposit Amount:</strong> $<%= @rental_property.deposit_amount %></li><br>
            <li><strong>Contract Start Date:</strong> <%= @rental_property.contract_start_date %></li><br> 
            <li><strong>Contract End Date:</strong> <%= @rental_property.contract_end_date %></li><br>
            <li><strong>Leased:</strong> <%= @rental_property.leased %></li><br>
         
        </ul>
      </div>
    </div>
    
    
