<div class="btn-group" role="group" aria-label="Basic example">
 <% if @rental_property.tenant.present? %>
 
  <%= button_to "Current Tenant", {:controller => "tenants", :action => "show", :id => @rental_property.tenant.id, :rental_property_id => @rental_property.id }, :method=> "get", class: "btn btn-secondary btn-sm"%> &nbsp;  
  
  <%end%>
   <% if @rental_property.tenant.present? %>
  <%= button_to "New Tenant", new_tenant_path, :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
  <%end%>
  <%= button_to "New Repair", new_rental_property_repair_path(@rental_property.repairs), :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
  <%= button_to "Repairs", property_repairs_path(@rental_property), :method=> "get", class: "btn btn-secondary btn-sm"%>
</div>
<br><br>
<div class="container">
  <div class="card-deck mb-1 text-left">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-1 font-weight-normal">Property: <%= @rental_property.property_name %> </h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <h4>Property Details</h4>
            <li><strong>Description:</strong> <%= @rental_property.property_description %></li><br>
            <li><strong>Address:</strong> <%= @rental_property.address %></li><br>
            <li><strong>Square Feet:</strong> <%= @rental_property.square_feet %></li><br><br>

          <h4>Property Lease Details</h4>
            <li><strong>Leased:</strong> <%= boolean_display(@rental_property.leased) %></li><br>
            <li><strong>Current Tenant:</strong> <% if @rental_property.tenant.present? %>
            <%= link_to @rental_property.tenant.renter, {:controller => "tenants", :action => "show", :id => @rental_property.tenant.id, 
              :rental_property_id => @rental_property.id }, :method=> "get"%> &nbsp;<%end%></li><br> 
            <li><strong>Monthly Rental Amount:</strong> $<%= @rental_property.monthly_rental_amount %></li><br> 
            <li><strong>Deposit Amount:</strong> $<%= @rental_property.deposit_amount %></li><br>
            <li><strong>Contract Start Date:</strong> <%= @rental_property.contract_start_date %></li><br> 
            <li><strong>Contract End Date:</strong> <%= @rental_property.contract_end_date %></li><br><br>
            
          <h4>Tenant Info:</h4> 
            <li><strong>Renter Name:</strong> <%= @rental_property.tenant.renter %></li><br> 
            <li><strong>Co Renter Name:</strong> <%=@rental_property.tenant.co_renter %> </li><br> 
            <li><strong>Previous Address:</strong> <%=@rental_property.tenant.address %> </li><br>
            <li><strong>Renter Email:</strong> <%=@rental_property.tenant.renter_email%> </li><br> 
            <li><strong>Co Renter Email:</strong> <%=@rental_property.tenant.co_renter_email %> </li><br> 
            <li><strong>Renter Cell Phone:</strong> <%=@rental_property.tenant.renter_cell_phone %> </li><br> 
            <li><strong>Co Renter Cell Phone:</strong> <%=@rental_property.tenant.co_renter_cell_phone %> </li><br>
           
        </ul>
      </div>
        <div class="btn-group" role="group" aria-label="Basic example">
          <%= button_to "Edit", edit_rental_property_path(@rental_property), :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
          <%= button_to "Delete",rental_property_path(@rental_property), :method=> "delete", class: "btn btn-secondary btn-sm" %>&nbsp;
      </div>
    </div>
    
    
    
