<div>
    <%= form_for(@repair) do |f| %>
        <h4> Select Property </h4>
        <%= f.collection_select :rental_property_id, @rental_property.order(:property_name), 
        :id, :property_name, include_blank: true %> <br><br>
        
        <strong><%= f.label :repair_name %></strong>
        <%= f.text_field :repair_name, class:"form-control" %><br>

        <strong><%= f.label :repair_description %></strong>
        <%= f.text_area :repair_description, class:"form-control" %><br>

        <strong><%= f.label :repair_cost %></strong>
        <%= f.text_field :repair_cost, class:"form-control" %><br>
       
        <strong><%= f.label :repair_completed %></strong>
        <%= f.check_box :repair_completed, class:"form-control" %><br>

        <%= f.submit submit_text %>
    <% end %>
</div>
    
 

     