<% if @repair.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% @repair.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
    <%= form_for(@repair) do |f| %>
        <h4> Select Property </h4>
        <h6> * Field must be filled out. </h6><br>
        <font color="#990012">*</font> <%= f.collection_select :rental_property_id, @rental_property.order(:property_name), 
        :id, :property_name, include_blank: true %> <br><br>
        
        <strong><font color="#990012">*</font> <%= f.label :repair_name %></strong>
        <%= f.text_field :repair_name, class:"form-control" %><br>

        <strong><font color="#990012">*</font> <%= f.label :repair_description %></strong>
        <%= f.text_area :repair_description, class:"form-control" %><br>

        <strong><%= f.label :repair_cost %></strong>
        <%= f.text_field :repair_cost, class:"form-control" %><br>
       
        <strong><%= f.label :repair_completed %></strong>
        <%= f.check_box :repair_completed, class:"form-control" %><br><br>


        <h4>Check or Add Supplies to bring for this ticket.</h4>
        <div class="checkboxes">
          <%= f.collection_check_boxes :supply_ids, Supply.all, :id, :supply_name %><br>
          <%= f.fields_for :supplies, repair.supplies.build do |supplies_fields|%>
        </div><br><br>
        
          <p>Enter a new supply here</p>
          <strong><%= f.label :supply_name %></strong>
          <%= supplies_fields.text_field :supply_name %> <br><br>
          <% end %>

        <%= f.submit submit_text %>
    <% end %>
</div>
    
 

     