<h1> Repairs</h1><br>

<div class="container">
  <div class="card-deck mb-1 text-left">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-1 font-weight-normal">Open Repair Tickets</h4>
      </div>
     
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
         <% @repairs.each do |repair|%>
          <%if repair.repair_completed == false %>
           <li> <%= link_to repair.repair_name, repair_path(repair)%> ~ <%=repair.rental_property.property_name%> ~ $<%=repair.repair_cost%></li><br>
          <%end%>
        <% end %>
        </ul>
      </div>
    </div>
    
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-1 font-weight-normal">Closed Repair Tickets</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
            <% @repairs.each do |repair|%>
             <% if repair.repair_completed == true %>
                <li> <%= link_to repair.repair_name, repair_path(repair)%> ~ <%=repair.rental_property.property_name%> ~ $<%=repair.repair_cost%></li><br>
              <% end %>
            <% end %>
        </ul>
      </div>
    </div>
    
    
