<div class="grid-container">
  <div class="grid-item">
    <h2> Repair: <%= @repair.repair_name %> </h2><br>
      <strong>Property Name:</strong> <%= @repair.rental_property.property_name %><br><br>
      <strong>Property Address:</strong> <%= @repair.rental_property.address %><br><br>
      <strong>Description:</strong> <%= @repair.repair_description %><br><br>
      <strong>Repair Cost:</strong> $<%= @repair.repair_cost %><br><br>
      <strong>Repair Completed:</strong> <%= boolean_display(@repair.repair_completed) %><br><br> 
      <strong>Supplies Needed:</strong> <%= %><br><br>
      <%@repair.repair_supplies.each do |repair_supply|%>
      <ul>
        <li><%= repair_supply.supply.supply_name%></li>
      </ul>
        <% end %>
        <br><br>
       

</div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= button_to "All Repairs", repairs_path, :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
    <%= button_to "Add Another Repair", new_repair_path, :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
    <%= button_to "Edit ", edit_repair_path(@repair), :method=> "get", class: "btn btn-secondary btn-sm" %>&nbsp;
    <%= button_to "Delete ", repair_path(@repair), :method=> "delete", class: "btn btn-secondary btn-sm" %>
  </div>
  <br>
  <br>

