<!DOCTYPE html>
<html>
  <head>
    <title>RentalTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "partials/alerts" %>
      <%= render "partials/nav" %>
      <%= render 'partials/jumbotron' %>
      <main role="main">
      <div class="container">
    <%= yield %>
      <hr>
      </div>
  </body>
  <%= render 'partials/footer' %>
</html>
